# --- Android & Gradle ---
.gradle/
build/
/app/build/
captures/
local.properties
/local.properties

# --- Archivos Sensibles (IMPORTANTE) ---
/app/google-services.json

# --- IDEs (Android Studio, IntelliJ, VS Code) ---
.idea/
*.iml
.vscode/
.DS_Store

# --- AndroidIDE & ACSide (Específicos de tu entorno) ---
.androidide/
.acside/
/.acside/

# --- Compilación Nativa (C/C++ & NDK) ---
.externalNativeBuild/
.cxx/

# --- Otros ---
.kilocode/
.mvn/wrapper/
