*.iml
.gradle
.acside
.androidide/
.idea/
.acside/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/google-services.json
.externalNativeBuild
.cxx
.kilocode
.vscode
.mvn/wrapper/
local.properties
/.acside/
/app/build/
